<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>H</key>
	<string>Hydrogen</string>
	<key>He</key>
	<string>Helium</string>
	<key>Li</key>
	<string>Lithium</string>
	<key>Be</key>
	<string>Beryllium</string>
	<key>B</key>
	<string>Boron</string>
	<key>C</key>
	<string>Carbon</string>
	<key>N</key>
	<string>Nitrogen</string>
	<key>O</key>
	<string>Oxygen</string>
	<key>F</key>
	<string>Fluorine</string>
	<key>Ne</key>
	<string>Neon</string>
	<key>Na</key>
	<string>Sodium</string>
	<key>Mg</key>
	<string>Magnesium</string>
	<key>Al</key>
	<string>Aluminium</string>
	<key>Si</key>
	<string>Silicon</string>
	<key>P</key>
	<string>Phosphorus</string>
	<key>S</key>
	<string>Sulfur</string>
	<key>Cl</key>
	<string>Chlorine</string>
	<key>Ar</key>
	<string>Argon</string>
	<key>K</key>
	<string>Potassium</string>
	<key>Ca</key>
	<string>Calcium</string>
</dict>
</plist>
