<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>H</key>
	<string>Hydrogen</string>
	<key>He</key>
	<string>Helium</string>
	<key>Li</key>
	<string>Lithium</string>
	<key>Be</key>
	<string>Beryllium</string>
	<key>B</key>
	<string>Boron</string>
	<key>C</key>
	<string>Carbon</string>
	<key>N</key>
	<string>Nitrogen</string>
</dict>
</plist>
